@tailwind base;
@tailwind components;
@tailwind utilities;
@import "content";
@import "reset";
@layer base {
  body {
    @apply bg-[#111111] text-white text-base;
    font-family: "Kanit", sans-serif;
  }
}

.form-layout {
  @apply grid grid-cols-1 lg:grid-cols-2 lg:gap-x-10 mb-5 lg:mb-10;
}
.quill {
  position: relative;
  .ql-toolbar {
    position: sticky;
    top: 0;
    background-color: #dba87f;
    z-index: 10;
  }
}
.skeleton {
  background-color: #222222;
  background-image: linear-gradient(
    110deg,
    #222222 8%,
    #222222 18%,
    #222222 33%
  );
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
.active-link {
  color: #dba87f;
}
.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.hidden-input {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.swiper-button-prev,
.swiper-button-next {
  color: #dba87f !important;
  z-index: 10;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 15px;
  background-color: #dba87f;
  border-radius: 5px;
}
.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 0.5s linear;
  border-bottom: 0 !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-swiper .swiper-button-next::after,
.product-swiper .swiper-button-prev::after {
  font-size: 1rem;
  color: white;
}
.product-swiper .swiper-button-prev,
.product-swiper .swiper-button-next {
  right: 0;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #dba87f;
  opacity: 0;
  transition: opacity 0.25s linear;
}
.product-swiper .swiper-button-prev {
  left: 0;
}
.product-swiper:hover .swiper-button-next,
.product-swiper:hover .swiper-button-prev {
  opacity: 1;
}

//table
.table-wrapper {
  overflow-x: auto;
  border-radius: 10px;
}
.table-wrapper table {
  width: 100%;
}
.table-wrapper thead {
  background-color: #222222;
}
.table-wrapper th,
.table-wrapper td {
  vertical-align: middle;
}
.table-wrapper th {
  padding: 20px 30px;
  font-weight: 600;
  text-align: left;
}
.table-wrapper td {
  padding: 15px 30px;
}
